joget-backend:
  enabled: {{backend_enabled}}
  deployment:
    containers:
      image: {{backend_image}}
      imageTag: {{backend_image_tag}}

  service:
    authmode: {{backend_auth_mode}}

  payment:
    config:
      mode: {{backend_payment_mode}}
    bb:
      im:
        base_url: {{backend_payment_base_url}}

  oidcKeystorePassword: ""

  paymenthub:
    bb:
      account_mapper_url: {{backend_payment_hub_acc_map_url}}
      bulk_connector_url: {{backend_payment_hub_bulk_conn_url}}
      callback_base_url: {{backend_payment_hub_callback_url}}

  openImis:
    url: {{backend_open_ims_url}}
    emulator_url: {{backend_open_ims_emulator_url}}

  igrant:
    url: {{backend_consent_url}}
    mode: {{backend_consent_mode}}
    token: {{backend_consent_token}}
    dataAgreementId: {{backend_consent_data_agree_id}}
    header: {{backend_consent_header}}

  
open-imis:
  enabled: {{open_imis_enabled}}
  backend:
    enabled: {{open_imis_backend_enabled}}
    deployment:
      dbPassword: {{open_imis_deployment_password}}
    service:
      name: open-imis-backend
  db:
    enabled: true
    dbService:
      name: open-imis-db
      port: 5432
      postgresPassword: {{open_imis_postgress_password}}
      username: "IMISuser"
      password: {{open_imis_postgress_password}}
      database:
        name: "IMIS"
    secret:
      password: {{open_imis_postgress_password | b64encode}}

sandbox-im-x-road:
  enabled: {{im_enabled}}
  sandbox-im-xroad-cs:
    ingress:
      host: im-cs.{{domain}}
  sandbox-im-xroad-ss:
    servers:
      ss1:
        image:
        tag: "latest-ss1"
        host: im-ss1.{{domain}}
      ss2:
        image:
        tag: "latest-ss2"
        host: im-ss2.{{domain}}
      ss3:
        image:
        tag: "latest-ss3"
        host: im-ss3.{{domain}}

joget-frontend:
  enabled: {{frontend_enabled}}
  containers:
    image: {{frontend_image}}
  ingress:
    enabled: {{frontend_ingress_enabled}}
    hosts:
      - host: joget-frontend.{{domain}}
        paths:
          - path: /
            pathType: Prefix

consentbb:
  enabled: {{consent_enabled}}
  # Namespace for kubernetes cluster
  namespace: {{joget_namespace}}
  # Prefix for kubernetes object names
  storageClassName: "oci-bv"
  adminDashboard:
    configuration:
      baseUrl: https://consentbb-api.{{domain}}/v2
      appVersion: 2023.11.6
      clientId: igrant-ios-app
    enabled: true
    image: igrantio/bb-consent-admin-dashboard:2023.11.6
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.allow-http: "true"
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/proxy-buffer-size: 128k
      hosts:
        - host: consentbb-admin-dashboard.{{domain}}
          paths:
            - path: /
              pathType: Prefix
            - path: /*
              pathType: Prefix
  api:
    configuration:
      Iam:
        ClientId: igrant-ios-app
        realm: BB-Consent-Users
        url: https://consent-keycloak.{{domain}}
      Organization:
        description: GovStack is committed to safeguarding your privacy. We process
          your personal data in line with data agreements, ensuring adherence to ISO27560
          standards and legal frameworks like GDPR. For every personal data we process,
          you can view its usage purpose and make informed choices to opt in or out.
          For inquiries, contact our Data Protection Officer at dpo@govstack.global
        eulaUrl: https://www.govstack.global/coc/
        location: Sweden
        name: GovStack
      Policy:
        GeographicRestriction: Sweden
        IndustrySector: Public
        Name: Policy 1
        StorageLocation: Sweden
        Url: https://www.govstack.global/privacy/
      PrivacyDashboardDeployment:
        Version: 2023.11.6
        Hostname: https://consentbb-privacy-dashboard.{{domain}}
      Smtp:
        adminEmail: {{consent_smtp_admin_email}}
        host: smtp.gmail.com
        port: 587
        username: {{consent_smtp_user_email}}
      TestMode: false
      User:
        password: {{demo_password}}
        username: admin@govstack.global
      Webhooks:
        events:
          - consent.allowed
          - consent.disallowed
    enabled: true
    image: igrantio/bb-consent-api:2023.12.2
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.allow-http: "true"
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/proxy-buffer-size: 128k
      hosts:
        - host: consentbb-api.{{domain}}
          paths:
            - path: /
              pathType: Prefix
            - path: /*
              pathType: Prefix
  keycloak:
    adminPassword: {{demo_password}}
    adminUsername: admin
    dbName: bitnami_keycloak
    dbUsername: bn_keycloak
    enabled: true
    image: docker.io/bitnami/keycloak:22.0.2-debian-11-r0
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.allow-http: "true"
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/proxy-buffer-size: 128k
      hosts:
        - host: consent-keycloak.{{domain}}
          paths:
            - path: /
              pathType: Prefix
  mongo:
    database: bb-consent-consentdb
    enabled: true
    image: bitnami/mongodb:7.0
    username: bb-consent-user
  postgres:
    database: bitnami_keycloak
    enabled: true
    image: bitnami/postgresql:14.10.0
    username: bn_keycloak
  prefix: {{joget_prefix}}
  privacyDashboard:
    configuration:
      baseUrl: https://consentbb-api.{{domain}}/v2
      redirectUrl: https://consentbb-privacy-dashboard.{{domain}}/login
      clientId: igrant-ios-app
    enabled: true
    image: igrantio/bb-consent-privacy-dashboard:2023.11.6
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.allow-http: "true"
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/proxy-buffer-size: 128k
      hosts:
        - host: consentbb-privacy-dashboard.{{domain}}
          paths:
            - path: /
              pathType: Prefix
            - path: /*
              pathType: Prefix

  resources: { }
  securityContext:
    runAsUser: 0

ph-ee-g2psandbox:
  enabled: {{payment_hub_enabled}}
  ph-ee-engine:
    elasticsearch:
      imagePullPolicy: "IfNotPresent"
      volumeClaimTemplate:
        storageClassName: "oci-bv"

payment-emulator:
  enabled: {{payment_emulator_enabled}}

digital-registries-emulator:
  enabled: {{digital_registries_emulator_enabled}}